body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #444; */
}

/* Containers */

.alert-container {}

.callout-container {
  height: 100vh;
  /* Background Image */
  background: url('../images/whiskey-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quotes-container {}

.features-container