body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #444; */
}

/* Containers */

/* Containers */

.container-wrapper {}

.container-wrapper--red {
  background-color: #f05f40;
  color: white;
}

.alert-container {}


.callout-container {
  height: 100vh;
  /* Background Image */
  background: url('../images/whiskey-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {}

.features-container {}

/* Page headers */

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}

.page-header h2 {
  margin: 0;
}



/* Block dividers */

.block-divider {
  width: 6rem;
  height: 0.3rem;
  border: 0;
  background-color: #444;
}

.block-divider--orange {
  background-color: #f05f40;
}

.block-divider--short {
  width: 6rem;
}

.block-divider--white {
  background-color: white;
}

/* Content-container */

.content-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Navbar */

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
}


/* Jumbotron */
.jumbotron {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 4vh;
}

.jumbotron .lead {
  color: #a7a7a7;
  margin: 2rem 0;
  letter-spacing: 0.05rem;
  font-size: 2vh;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
  font-size: 2.5vh;
}

/* Buttons */

.btn--cta {
  font-weight: bold;
  border-radius: 1.5rem;
  width: 10rem;
}

.btn--red {
  color: white;
  background-color: #f05f40;
  border-color: #f05f40;
}

.sign_in {
  font-size: 3vh;
  width: unset;
  padding: 0.5rem 3rem;
  border-radius: 2.5rem;
  margin: 2rem auto;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
  background-color: #df4929;
  border-color: #df4929;
  color: white;
}

/* Alert */

.alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.site-wide-alert {
  color: #544600;
  background-color: #eec802;
  border-color: #eec802;
  padding: 0.75rem 2rem;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
}

/* Page Headers */

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}

.page-header h2 {
  margin-top: 0;
}

/* Quotes */

.quotes .page-header {
  margin-bottom: 6rem;
}

/* Features */

.feature {
  text-align: center;
  margin-bottom: 7rem;
}

.feature i {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  line-height: 1.7;
  color: #eec802;
}

.feature .btn {
  background-color: white;
  border-color: white;
  border-radius: 1rem;
  min-width: 7rem;
  font-weight: bold;
  margin-top: 1.5rem;
  color: #f05f40;
}

.call_to_action {
  background-color: rgba(255, 145, 0, 0.829);
  padding: 0.5rem 2rem 0.5rem 2rem;
}